nav{
    background-color: rgb(80, 224, 116);
    height: 30px;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-left: 10%;
    display: flex;
    width: 80%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
li{
    width: fit-content;
    text-decoration: none;
    width: 100%;
}
li a{
    color: black;
}
.activo{
    color: rgb(135, 71, 255);
}