
.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 300 !important; 
}
.ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    z-index: 200;
    justify-content: center;
}
.ul li{
    margin-top: 1vh;
}
.botonLogin{
    margin-top: -1vh;
}
.carritoFlotante, 
.loginFlotante {
    position: absolute;     
    top: 45px;            
    right: 0;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 500;      
    min-width: 500px;  
}

@media (max-width: 768px) {

    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 300;
        color: black;
    }
    .ul {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        background: white;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        gap: 30px;
        transition: left 0.3s ease;
        z-index: 200;
        justify-content:left;
    }

    .menuOpen {
        left: 0;
    }
    
    .hamburgerOpen {
        left: 60%; 
        transition: left 0.3s ease;
    }
    .carritoFlotante,
    .loginFlotante {
        position: fixed;
        top: 100px;
        right: 10px;
        width: 85%;
    }
}


