.carrito {
    background-color: rgb(80, 224, 116);
    color: black;
    padding-bottom:10px;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 10px;
}
.seccionCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.elementoCarrito{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 100px;
}
.elementoCarrito img{
    width: 100px;
    background-color: white;
    border-radius: 5px;

}
.elementoCarrito button{
    height: 100%;
    margin-right: -1px;
    width: 150px;
    border-radius: 5px;
}
.elementoCarrito h2{
    font-size: 20px;
    max-width: 600px;
}
.botonVaciarCarrito{
    padding: 25px;
    width: 20%;
    background-color: brown;
}
.seccionCarrito h1{
    color: white;
}
.seccionBotones{
    display: flex;
    flex-direction:row-reverse;
}
.botonComprar{
    padding: 25px;
    width: 20%;
    background-color: rgb(54, 86, 228);
}