.elementoCarrito {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    width: 400px;
}

.elementoCarrito img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
}

.elementoCarritoTexto {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elementoCarritoTexto h2 {
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elementoCarrito button {
    height: 80%;
    width: 100px;
    min-width: 100px;
    border-radius: 5px;
}
