.seccionProducto{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
 }
.imagenProducto{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    max-width: 600px;
    max-height: 600px;
}
 .seccionProducto div{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
}
.accesoCompra{
    display: flex;
}
.botonAgregar{
    grid-column: 2;
    margin-left: 25%;
    width: 50%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

@media (max-width: 768px) {
    .seccionProducto{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
    margin-bottom: 50px;
 }
    .imagenProducto{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    margin-left: 0%;
    max-width: 600px;
    max-height: 600px;
}
}