.footer {
    background: #2b2d42;
    color: #edf2f4 ;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
}

.titulo {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icon {
    color: #edf2f4;
    font-size: 1.4rem;
    transition: all 0.2s ease;
}

.icon:hover {
    color: #a6b1e1;
    transform: translateY(-3px);
}

.footer p {
    font-size: 0.9rem;
}
